<% if @trip.errors.any? %>
  <p><strong>There was an error in saving this trip: </strong></p>
  <ul><% @trip.errors.each do |column, message| %>
    <li><%= column.capitalize %> <%= message%>.</li>
  <% end %></ul>
<% end %>


<div class="form">
  <%= form_with model: @trip do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>
  <div>
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select(["1", "2", "3", "4", "5"]) %>
  </div>
    <%= f.submit "Submit Changes", class: "button" %>
  <% end %>
</div>