<h2>Trip's Details</h2>

<h5>Trip's ID: <%= @trip.id%></h5>
<h5>Trip's Date: <%= @trip.date%></h5>
<h5>Trip's cost: <%= @trip.cost%></h5>
<h5>Trip's Rating: <%= @trip.rating%></h5>
<h5>Passenger's Name: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></h5>
<h5>Driver's Name: <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></h5>

<button type="button"><%= link_to "Edit Trip", edit_trip_path(@trip.id) %></button>

<button type="button"><%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete trip number #{@trip.id}? You can't undo this action." } %></button>