<h2>Trip's Details</h2>

<p><strong>Trip's ID: </strong><%= @trip.id%></p>
<p><strong>Trip's Date: </strong><%= @trip.date%></p>
<p><strong>Trip's cost: </strong><%= @trip.cost%></p>
<p><strong>Trip's Rating: </strong><%= @trip.rating%></p>
<p><strong>Passenger's Name: </strong><%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></p>
<p><strong>Driver's Name: </strong><%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></p>

<button type="button"><%= link_to "Edit Trip", edit_trip_path(@trip.id) %></button>

<button type="button"><%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete trip number #{@trip.id}? You can't undo this action." } %></button>