<h2>Trip's Details</h2>

<p>Trip's ID: <%= @trip.id%></p>
<p>Trip's Date: <%= @trip.date%></p>
<p>Trip's cost: <%= @trip.cost%></p>
<p>Trip's Rating: <%= @trip.rating%></p>
<p>Passenger's Name: <%= @trip.passenger.name%></p>
<p>Driver's Name: <%= @trip.driver.name%></p>

<button type="button"><%= link_to "Edit Trip", edit_trip_path(@trip.id) %></button>

<button type="button"><%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete trip number #{@trip.id}? You can't undo this action." } %></button>