<h2><strong>Passenger name: </strong><%= @passenger.name %></h2>
<h5><strong>Phone Number: </strong><%= @passenger.phone_num %></h5>
<% if @passenger.total_charged > 0 %>
  <h5><strong>Total Charged: </strong>$<%= @passenger.total_charged %> </h5>
<% end %>

<button><%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %></button>
<button><%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: { confirm: "Are you sure you'd like to delete#{@passenger.name}? You can't undo this action." } %></button>
<%#%>
<button><%= link_to "Create a New Trip", new_trip_path %></button>

<h3><%= @passenger.name%>'s Trips</h3>
<% if @passenger.trips.length > 0 %>
  <table class="table">
  <tr>
    <th>Trip ID</th>
    <th>Trip Date</th>
    <th>Passenger Name</th>
    <th>Driver Name</th>
    <th>Rating</th>
    <th>Cost</th>
  </tr>
  <% @passenger.trips.each do |trip| %>
  <tr>
    <td><%= trip.id %></td>
    <td><%= trip.date %></td>
    <td><%= trip.passenger.name %></td>
    <td><%= trip.driver.name %></td>
    <td><%= trip.rating %></td>
    <td>$<%= trip.cost %></td>
  </tr>
  <% end %>
  </table>
<% else %>
  <p>There are no trips on record for this passenger.</p>
<% end %>