<% if @driver.errors.any? %>
  <p><strong>There was an error in saving this driver: </strong></p>
  <ul><% @driver.errors.each do |column, message| %>
    <li><%= column.capitalize %> <%= message%>.</li>
  <% end %></ul>
<% end %>

<%= form_with model: model, class: 'driver_form' do |f| %>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name%>
  </div>

  <div>
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </div>
  <%= f.submit "Submit" %>
<% end %>